body {
	color: rgba(36, 39, 72, 0.99);
	padding: 10px;
}

#a {
	border: 1px solid green;
	text-align: center;
	letter-spacing: 1em;
	line-height: 2em;
}

.title {
	text-align: center;
	background-color: aquamarine;
	height: 50px;
}

#svg {
	background-color: oldlace;
}

#num {
	border: 2px solid green;
	width: 100px;
	height: 50px;
	font-size: 40px;
	color: blueviolet;
	text-align: center;
}

input[type=button] {
	width: 3em;
	font-size: 2em;
}

#inpute {
	padding-left: 150px;
}

a {
	font-size: 20px;
}
